USE [master]
GO
/****** Object:  Database [CLOTHES]    Script Date: 20/06/2022 3:41:03 SA ******/
CREATE DATABASE [CLOTHES]
go
USE [CLOTHES]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[idBill] [nvarchar](255) NOT NULL,
	[idUser] [nvarchar](255) NULL,
	[Shipping] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[PTTT] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[totalQty] [int] NOT NULL,
	[nameBook] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailBIll]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailBIll](
	[idDetailBill] [nvarchar](255) NOT NULL,
	[idProduct] [nvarchar](255) NOT NULL,
	[idBill] [nvarchar](255) NOT NULL,
	[qty] [int] NOT NULL,
	[intoMoney] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetailBill] ASC,
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageProduct]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageProduct](
	[idImage] [nvarchar](255) NOT NULL,
	[idProduct] [nvarchar](255) NOT NULL,
	[URLImage] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[idPermission] [nvarchar](255) NOT NULL,
	[namePermission] [nvarchar](255) NOT NULL,
	[level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[nameProduct] [nvarchar](255) NOT NULL,
	[idProduct] [nvarchar](255) NOT NULL,
	[sizeM] [int] NOT NULL,
	[sizeL] [int] NOT NULL,
	[sizeXL] [int] NOT NULL,
	[price] [float] NOT NULL,
	[description] [ntext] NULL,
	[idType] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[idType] [nvarchar](255) NOT NULL,
	[nameType] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [nvarchar](255) NOT NULL,
	[idPermission] [nvarchar](255) NOT NULL,
	[fullName] [nvarchar](max) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[gender] [bit] NOT NULL,
	[identityCard] [int] NOT NULL,
	[address] [ntext] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[URLAvatar] [text] NULL,
	[phone] [int] NOT NULL,
 CONSTRAINT [PK__User__3717C982FE6555FC] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 20/06/2022 3:41:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[idVoucher] [nvarchar](255) NOT NULL,
	[percent] [nvarchar](255) NOT NULL,
	[dateStart] [datetime] NOT NULL,
	[dateEnd] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([idBill], [idUser], [Shipping], [Total], [PTTT], [status], [createdAt], [totalQty], [nameBook], [email], [phone], [address]) VALUES (N'DH1653146500192', N'U1', 50, 2490, N'Tien Mat', 1, CAST(N'2022-05-21T22:21:40.250' AS DateTime), 8, N'Nguyễn Phương Trang', N'nguyenduykhanghuflit@gmail.com', N'948999333', N'Tân Lập, Xã Tân Lập, Huyện Mộc Hóa, Tỉnh Long An')
INSERT [dbo].[Bill] ([idBill], [idUser], [Shipping], [Total], [PTTT], [status], [createdAt], [totalQty], [nameBook], [email], [phone], [address]) VALUES (N'DH1653249577204', N'U1', 50, 560, N'Tien Mat', 1, CAST(N'2022-05-23T02:59:37.247' AS DateTime), 2, N'Phạm Ngọc Phú', N'ngocphu@gmail.com', N'389800333', N'Trần Thiện Chánh, Phường 12, Quận 10, Thành phố Hồ Chí Minh')
INSERT [dbo].[Bill] ([idBill], [idUser], [Shipping], [Total], [PTTT], [status], [createdAt], [totalQty], [nameBook], [email], [phone], [address]) VALUES (N'DH1653249716727', N'U1', 50, 800, N'Tien Mat', 1, CAST(N'2022-05-23T03:01:56.747' AS DateTime), 3, N'Vũ Phương An', N'anan@gmail.com', N'855192192', N'Sư Vạn Hạnh, Phường 13, Quận 10, Thành phố Hồ Chí Minh')
GO
INSERT [dbo].[DetailBIll] ([idDetailBill], [idProduct], [idBill], [qty], [intoMoney]) VALUES (N'0d1422de-4bb9-46f9-9ea9-e120207f8f37', N'P61', N'DH1653252076956', 1, 250)
INSERT [dbo].[DetailBIll] ([idDetailBill], [idProduct], [idBill], [qty], [intoMoney]) VALUES (N'16377c2b-0e3e-473d-b5d7-dbc70a04c62d', N'P81', N'DH1653252076956', 3, 1260)
INSERT [dbo].[DetailBIll] ([idDetailBill], [idProduct], [idBill], [qty], [intoMoney]) VALUES (N'1885ec04-44c9-4eb1-8ac7-d0a7a30fcfb7', N'P61', N'DH1653249716727', 2, 500)
GO
INSERT [dbo].[ImageProduct] ([idImage], [idProduct], [URLImage]) VALUES (N'2237bbd2-579d-4927-8ca2-48cc3db8205e', N'ba471893-977d-4a91-bb14-ca0a362178a3', N'https://product.hstatic.net/200000321771/product/2p6a5715__1__d833d7c5bbfa4c59b65fd3abcbd03746_grande.jpg')
INSERT [dbo].[ImageProduct] ([idImage], [idProduct], [URLImage]) VALUES (N'38037b52-6416-4064-80cf-1c7f6d937a75', N'db9475a4-6f88-48b3-b67c-13f0b7833557', N'/images/img2.png')
INSERT [dbo].[ImageProduct] ([idImage], [idProduct], [URLImage]) VALUES (N'80cafe3b-6591-4915-8493-44f629bc6042', N'fb45810e-8f7e-4989-84e7-6465f7b07236', N'https://product.hstatic.net/200000321771/product/271456888_233558595622847_148706376794218123_n_2a0da6a29d844c469d1f96a0c83a8f5b_master.jpg')
GO
INSERT [dbo].[Permission] ([idPermission], [namePermission], [level]) VALUES (N'R01', N'Admin', 1)
INSERT [dbo].[Permission] ([idPermission], [namePermission], [level]) VALUES (N'R02', N'User', 2)
GO
INSERT [dbo].[Product] ([nameProduct], [idProduct], [sizeM], [sizeL], [sizeXL], [price], [description], [idType]) VALUES (N'Demo', N'38037b52-6416-4064-80cf-1c7f6d937a75', 1, 10, 10, 250, N'Chưa cập nhật', N'T03')
INSERT [dbo].[Product] ([nameProduct], [idProduct], [sizeM], [sizeL], [sizeXL], [price], [description], [idType]) VALUES (N'Blue Clothes', N'721135d4-f12e-408f-9d48-ff2370e42185', 20, 10, 11, 200, N'123', N'T01')
INSERT [dbo].[Product] ([nameProduct], [idProduct], [sizeM], [sizeL], [sizeXL], [price], [description], [idType]) VALUES (N'#0110 Testttttt', N'ba471893-977d-4a91-bb14-ca0a362178a3', 2, 3, 3, 200, N'không có', N'T08')
GO
INSERT [dbo].[Types] ([idType], [nameType]) VALUES (N'T01', N'Áo')
INSERT [dbo].[Types] ([idType], [nameType]) VALUES (N'T02', N'Áo thun - sơ mi ')
INSERT [dbo].[Types] ([idType], [nameType]) VALUES (N'T03', N'Áo tay dài')
GO
INSERT [dbo].[User] ([idUser], [idPermission], [fullName], [username], [password], [gender], [identityCard], [address], [email], [URLAvatar], [phone]) VALUES (N'U1', N'R01', N'Nguyễn Duy Khang', N'admin', N'123456', 1, 12346, N'HCM', N'admin@gmaill.com', N'chua c?p nh?t', 3555555)
INSERT [dbo].[User] ([idUser], [idPermission], [fullName], [username], [password], [gender], [identityCard], [address], [email], [URLAvatar], [phone]) VALUES (N'U10', N'R02', N'Vieen Bichs', N'vienvien', N'123456', 0, 1234567899, N'hcm', N'vien@gmail.com', N'chua c?p nh?t', 123123123)
INSERT [dbo].[User] ([idUser], [idPermission], [fullName], [username], [password], [gender], [identityCard], [address], [email], [URLAvatar], [phone]) VALUES (N'U11', N'R02', N'Khang Khang', N'khangkhang', N'123456', 0, 1234567899, N'BT', N'bt@gmail.com', NULL, 1234567899)
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (newid()) FOR [idBill]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (newid()) FOR [idUser]
GO
ALTER TABLE [dbo].[DetailBIll] ADD  DEFAULT (newid()) FOR [idDetailBill]
GO
ALTER TABLE [dbo].[DetailBIll] ADD  DEFAULT (newid()) FOR [idProduct]
GO
ALTER TABLE [dbo].[ImageProduct] ADD  DEFAULT (newid()) FOR [idImage]
GO
ALTER TABLE [dbo].[ImageProduct] ADD  DEFAULT (newid()) FOR [idProduct]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT (newid()) FOR [idPermission]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT ((1)) FOR [level]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newid()) FOR [idProduct]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newid()) FOR [idType]
GO
ALTER TABLE [dbo].[Types] ADD  DEFAULT (newid()) FOR [idType]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__idUser__3B75D760]  DEFAULT (newid()) FOR [idUser]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__idPermissi__3C69FB99]  DEFAULT (newid()) FOR [idPermission]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (newid()) FOR [idVoucher]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__idUser__5070F446] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__idUser__5070F446]
GO
ALTER TABLE [dbo].[DetailBIll]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([idBill])
GO
ALTER TABLE [dbo].[DetailBIll]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[ImageProduct]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([idType])
REFERENCES [dbo].[Types] ([idType])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__User__idPermissi__59063A47] FOREIGN KEY([idPermission])
REFERENCES [dbo].[Permission] ([idPermission])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__User__idPermissi__59063A47]
GO
USE [master]
GO
