@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/main")
<!-- ----------Slider---------- -->
<div class="slider">
    <a href="/" class="">
        <img src="https://file.hstatic.net/200000321771/file/1_62c5898170ff40c2bd5606d64d0d8e09.jpg"
             alt="" />
    </a>
</div>
<!-- ----------Slider---------- -->
<!-- ----------Banner---------- -->
<div class="banner">
    <div class="banner-item">
        <img src="https://file.hstatic.net/200000321771/file/3_bdadae0d79ee4f4fa46338613e9a5b57.jpg"
             alt="" />
    </div>
    <div class="banner-item">
        <img src="https://file.hstatic.net/200000321771/file/2_e06d86f187de4e2f90c44e764fc47fe9.jpg"
             alt="" />
    </div>
    <div class="banner-item ">
        <img src="https://file.hstatic.net/200000321771/file/1_3381a57c5ef44c3b9c71762f40e9cd70.jpg"
             alt="" />
    </div>
</div>

<!-- ----------Banner---------- -->
<!-- Product -->
<div class="products">
    <div class="product-heading">SẢN PHẨM MỚI - NEW PRODUCTS</div>
    <div class="grid">
        <div class="grid__row">
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a9859_0b69d118a40b4207bfa4e22bc19454c6_master.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a9860_c9fa74ab45404986abcb4b7942ebf7bf_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/271456888_233558595622847_148706376794218123_n_2a0da6a29d844c469d1f96a0c83a8f5b_master.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/269670583_714518126161762_1892768403296979016_n_82173cd522a24355a3f483c3c06c0ce7_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a5735_a04687a3dcf94adb88dbe6441f5b922b_medium.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a5737_b3213b065504466c8d9aa9da19795954_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/271739691_894884961076838_8135394162538589269_n_e814b41a580a4cb6b3d8e1963e0ef8db_medium.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/271541735_634953457746867_7566922806359762025_n_bbabb788919c43d193a79576e58f739d_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a5735_a04687a3dcf94adb88dbe6441f5b922b_medium.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a5737_b3213b065504466c8d9aa9da19795954_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/271739691_894884961076838_8135394162538589269_n_e814b41a580a4cb6b3d8e1963e0ef8db_medium.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/271541735_634953457746867_7566922806359762025_n_bbabb788919c43d193a79576e58f739d_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>

            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/271456888_233558595622847_148706376794218123_n_2a0da6a29d844c469d1f96a0c83a8f5b_master.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/269670583_714518126161762_1892768403296979016_n_82173cd522a24355a3f483c3c06c0ce7_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>

            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a9859_0b69d118a40b4207bfa4e22bc19454c6_master.jpg" alt="" class="product-img product-show">
                    <img src="https://product.hstatic.net/200000321771/product/2p6a9860_c9fa74ab45404986abcb4b7942ebf7bf_grande.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Product -->
<!-- ----------Banner---------- -->
<div style="margin-top:30px" class="banner">
    <div class="banner-item">
        <img src="https://file.hstatic.net/200000321771/file/3_8eba5660cf4640e084dc27e9a47b1ece.jpg"
             alt="" />
    </div>
    <div class="banner-item">
        <img src="https://file.hstatic.net/200000321771/file/2_d975b4e8df8b45699fe5a805bb461ef5.jpg"
             alt="" />
    </div>
    <div class="banner-item ">
        <img src="https://file.hstatic.net/200000321771/file/1_dd82505428c9436291a8b2966f7bcb93.jpg"
             alt="" />
    </div>
</div>
<!-- ----------Banner---------- -->
<!-- Product -->
<div class="products">
    <div class="product-heading">JEANS COLLECTION 2022</div>
    <div class="grid">
        <div class="grid__row">
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="~Images/jean1.webp" alt="" class="product-img product-show">
                    <img src="./assets/images/jean1hv.webp" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="./assets/images/j2.webp" alt="" class="product-img product-show">
                    <img src="./assets/images/j2hv.webp" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="./assets/images/j3.webp" alt="" class="product-img product-show">
                    <img src="./assets/images/j3hv.webp" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="./assets/images/j4.webp" alt="" class="product-img product-show">
                    <img src="./assets/images/j4hv.webp" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="./assets/images/j5.webp" alt="" class="product-img product-show">
                    <img src="./assets/images/j5hv.webp" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>
            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="./assets/images/j6.webp" alt="" class="product-img product-show">
                    <img src="./assets/images/j6hv.webp" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>

            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="./assets/images/j7.jpg" alt="" class="product-img product-show">
                    <img src="./assets/images/j7hv.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White  HOMO Tee In White  HOMO Tee In White  HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>

            <div class="grid__col-3 product-item">
                <div class="product">
                    <img src="./assets/images/j8.webp" alt="" class="product-img product-show">
                    <img src="./assets/images/j8hv.jpg" alt="" class="product-img product-img-hover">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        HOMO Tee In White
                    </div>
                    <div class="product-price">
                        380,000₫
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Product -->
@Scripts.Render("~/bundles/product")

