
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div id="content">
    
    <div class="content-main p-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item active" aria-current="page">
                    Tổng quan
                </li>
            </ol>
        </nav>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card gradient-1">
                        <div class="card-body">
                            <h3 class="card-title text-white">Tổng số sản phẩm</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white">@ViewBag.product</h2>
                              
                            </div>
                            <span class="float-right display-5 opacity-5">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card gradient-2">
                        <div class="card-body">
                            <h3 class="card-title text-white">Tổng số đơn hàng</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white">@ViewBag.countBill</h2>

                            </div>
                            <span class="float-right display-5 opacity-5">
                                <i class="fa fa-money"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card gradient-3">
                        <div class="card-body">
                            <h3 class="card-title text-white">Khách hàng</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white">@ViewBag.countUser</h2>
                               @* <p class="text-white mb-0">Jan - March 2019</p>*@
                            </div>
                            <span class="float-right display-5 opacity-5">
                                <i class="fa fa-users"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Đơn hàng</h4> -->
                            <div class="table-responsive">
                                <table class="table header-border table-hover verticle-middle">
                                    <thead>
                                        <tr>
                                            <th scope="col">Đơn hàng</th>
                                            <th class="tbl-center" scope="col">Số lượng</th>
                                            <th scope="col">Doanh thu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mới</td>
                                            <td class="tbl-center qtyNew">0</td>
                                            <td class="tbl-center">0</td>
                                        </tr>
                                        @*<tr>
                                            <td>Đã gửi vận chuyển</td>
                                            <td class="tbl-center">0</td>
                                            <td class="tbl-center">0</td>
                                        </tr>*@
                                        <tr>
                                            <td>Thành công</td>
                                            <td class="tbl-center qtySuccess">0</td>
                                            <td class="tbl-center sales">0</td>
                                        </tr>
                                        <tr>
                                            <td>Đang chờ</td>
                                            <td class="tbl-center qtyFalse">0</td>
                                            <td class="tbl-center">0</td>
                                        </tr>
                                        @*<tr>
                                            <td>Hủy</td>
                                            <td class="tbl-center">0</td>
                                            <td class="tbl-center">0</td>
                                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Số đơn trong tuần</h4>
                            <div id="chart-with-area"
                                 class="ct-chart ct-golden-section"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/admin/jquery")

<script>

    const commaSeparator = (money) => {
        let res = [...money];
        let count = 0;
        for (let i = res.length - 1; i >= 0; i--) {
            count++;
            if (count == 3) {
                if (i != 0) {
                    res[i] = ',' + res[i];
                    count = 0;
                }
            }
        }
        return res.join('') + 'đ';
    };
    function beginOfWeek(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1); 
        return new Date(d.setDate(diff));
    }
    function endOfWeek(date) {

        var lastday = date.getDate() - (date.getDay() - 1) + 6;
        return new Date(date.setDate(lastday));

    }

    const currentDay = new Date();
    const firstDayOfWeek = beginOfWeek(currentDay);
      firstDayOfWeek.setHours(00, 00, 00);
    const weekend = endOfWeek(currentDay);
    weekend.setHours(23,59,59)
 @*   console.log("thứ 2 tuần này:" + firstDayOfWeek);
    console.log("chủ nhật: "+weekend);
*@
    $('.tq').addClass('active');
    let data;
    fetch('/Admin/Bills/GetAllBill')
        .then(response => response.json())
        .then(json => {
            console.log(json)
           
            let dayArr = [0, 0, 0, 0, 0, 0, 0]

            let qtySuccess = 0;
            let qtyFalse = 0;
            let saleSuccess = 0;

            json.forEach(item => {
                let d = item.createdAt;
                let t = parseInt(d.replace(/[^0-9]/g, ''))
                const day = new Date(t);
                console.log(weekend)
            
                if (day >firstDayOfWeek && day < weekend) {
                 
                    let dayOfWeek = day.getDay();
                    //số đơn trong tuần
                    dayArr[dayOfWeek]++;
                    //số đơn thành công và đang chờ
                    if (item.status == true) {
                        qtySuccess++
                        saleSuccess += item.Total;
                        $('.qtySuccess').html(qtySuccess)
                        $('.sales').html(commaSeparator(saleSuccess + "000"))
                    }
                    else {
                        qtyFalse++;
                        $('.qtyFalse').html(qtySuccess)
                    }
                }
            })
            console.log(dayArr)

            let qtyNew = 0;
            dayArr.forEach(item => {
                qtyNew+=item
            })
            $('.qtyNew').html(qtyNew);


            new Chartist.Line(
                '#chart-with-area',
                {
                    labels: [
                        'Thứ 2',
                        'Thứ 3',
                        'Thứ 4',
                        'Thứ 5',
                        'Thứ 6',
                        'Thứ 7',
                        'Chủ nhật',
                    ],

                    series: [ [dayArr[1], dayArr[2], dayArr[3], dayArr[4], dayArr[5], dayArr[6], dayArr[0]] ],
                },
                {
                    low: 0,
                    showArea: true,
                    // plugins: [Chartist.plugins.tooltip()],
                }
            );
        })
</script>
