
@model ClothesWebNET.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .title-detail {
        color: black;
    }

    .text-sm {
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 10px 0;
    }

        .text-sm span {
            font-weight: 500;
        }

    h5.text-right {
        font-weight: 500;
    }

        h5.text-right span {
            font-weight: normal;
        }

    h5.text-sm input, h5.text-sm select {
        font-weight: 500;
        margin: 5px 0;
        color: #333;
    }

    .dln {
        display: none;
    }
</style>
<div id="content" class="">
    <div class="content-main p-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Bills">Đơn hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Cập nhật đơn hàng
                </li>
            </ol>
        </nav>
        <div class="table-responsive-sm">
            <h4 class="text-center title-detail">CẬP NHẬT THÔNG TIN ĐƠN HÀNG</h4>
            <h5 class="text-sm">Họ tên người mua hàng: <input required class="form-control" type="text" id="fullname" /></h5>
            <h5 class="text-sm">Số điện thoại: <input required type="number" class="form-control" id="phone" /></h5>
            <h5 class="text-sm">Địa chỉ: <input required class="form-control" id="address" /></h5>
            <h5 class="text-sm">Trạng thái: 
                <select required class="form-control" id="status">
                    <option value="false">Đang chờ</option>
                    <option value="true">Thành công</option>
                </select>
            </h5>
            <h5 class="text-sm">Mã hóa đơn: <span id="idBill"></span></h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Tổng tiền</th>

                    </tr>
                </thead>
                <tbody id="renderItem">
                </tbody>
            </table>
        </div>
        <h5 class="text-right">Tổng cộng:<span class="fmt" id="Total"></span></h5>
        <button type="button" class="btn btn-primary saveData">Cập nhật</button>
    </div>
</div>
@Scripts.Render("~/bundles/admin/jquery")

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var pathname = window.location.pathname
    let lastS = pathname.lastIndexOf('/');
    let id = pathname.slice(lastS + 1).trim();



    //get api
    $.ajax('/Admin/Bills/GetDetailBill', {
        data: {
            idBill: id,
        },
        dataType: 'json',
        method: 'Post',
        success: function (res) {
            console.log(res)
            $('#fullname').val(res[0].nameBook)
            $('#phone').val("0" + res[0].phone)
            $('#address').val(res[0].address)
            $('#idBill').html(res[0].idBill)


            let html = '';
            res.forEach(item => {
                let intoM = parseInt(item.qty) * parseInt(item.price)
                html += `<tr class="rowDt">
             <td class="dln idDetailBill">${item.idDetailBill}</td>
             <td class="dln idProduct">${item.idProduct}</td>
                    <td class="nameProduct">${item.nameProduct}</td>
                    <td > ${item.qty}</td>
                    <td class="fmt price">${item.price}000</td>
                    <td class="fmt intoMoney">${intoM}000</td>
                       </tr>`
            })
            $('#renderItem').html(html)
            $('#Total').html(res[0].Total+"000")
            let fmt = document.querySelectorAll('.fmt');
            fmt.forEach(item => {
                item.textContent = commaSeparator(item.textContent);
            })
        }
    })


    //post data


    $('.saveData').click(() => {
        let ibBill = id;
        let nameBook = $('#fullname').val()
        let phone = $('#phone').val().toString().slice(1);
        let address = $('#address').val()
        let status = $('#status').val()

      @*  let data = { ibBill, nameBook, phone, address, status: status.toLowerCase() == 'true' ? true : false  }
        console.log(data)*@

        axios.post('/Admin/Bills/UpdateBill', {ibBill, nameBook, phone, address, status: status.toLowerCase() == 'true' ? true : false })
            .then(function (response) {
                console.log(response);
                if (response.data == "success") {
                    alert("Cập nhật thành công")
                    window.location.href ='/Admin/Bills'
                }
            })
            .catch(function (error) {
                console.log(error);
            });

    })








    const commaSeparator = (money) => {
        let res = [...money];
        let count = 0;
        for (let i = res.length - 1; i >= 0; i--) {
            count++;
            if (count == 3) {
                if (i != 0) {
                    res[i] = ',' + res[i];
                    count = 0;
                }
            }
        }
        return res.join('') + 'đ';
    };
    const removeComma = (money) => {
        money = parseInt(money.slice(0, money.length - 1).replaceAll(',', ''));
        // console.log(money);
        return money;
    };


</script>




