@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@Styles.Render("~/Content/main")
@Styles.Render("~/Content/cart")
<style>
    .empty-cart {
        color: #050505;
        font-family: Quicksand;
        font-size: 20px;
        line-height: 21px;
        margin: 30px 0px;
    }

    .heading-close {
        cursor: pointer;
    }

        .heading-close:hover {
            color: #fc700b;
        }
</style>
<div class="container">
    <div class="breadcrumb">
        <div class="grid">
            <a href="/">Trang chủ / </a>
            <a class="br-main" href="/cart">Giỏ hàng </a>
        </div>
    </div>
    <div class="grid">
        <div class="cart">
            <div class="cart-heading">
                <h2>Giỏ hàng của bạn</h2>
                <h3>Có <span class="count-cart" id="qty">0 </span>  sản phẩm trong giỏ hàng</h3>
            </div>
            <div class="product-cart">
                <div class="cart-list-product" id="renderBody">


                </div>



                <div class="cart-info-product">
                    <div class="cart-info-title">
                        Thông tin đơn hàng
                    </div>
                    <div class="cart-info-total-money">
                        <div class="info-total-title">Tổng tiền:</div>
                        <div class="info-total-money" id="totalMoney"></div>
                    </div>
                    <p class="cart-info-note">
                        Phí vận chuyển sẽ được tính ở trang thanh toán.
                        Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                    </p>
                    <button style="cursor:pointer" class="button-hover button-payment">THANH TOÁN</button>
                    <p class="back-home"><a href="/" class="link-back-home"><i class='bx bxs-chevron-left'></i> Tiếp tục mua hàng</a></p>
                </div>
            </div>
            <div class="product-note">
                <div class="note">
                    <h4>Ghi chú đơn hàng</h4>
                    <textarea class="text-note" placeholder="Ghi chú"></textarea>
                </div>
                <div class="policy">
                    <h4>Chính sách đổi hàng</h4>
                    <ul class="list-policy">
                        <li>- Sản phẩm được đổi 1 lần duy nhất, không hỗ trợ trả.</li>
                        <li>- Sản phẩm còn đủ tem mác, chưa qua sử dụng.</li>
                        <li>- Sản phẩm được đổi trong vòng 7 ngày trên toàn hệ thống ZOMBIE.</li>
                        <li>- Sản phẩm sale KHÔNG hỗ trợ đổi size.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Product end -->


</div>

<script>

    let listCart = JSON.parse(window.localStorage.getItem('cart'));
    let totalMoney = document.getElementById('totalMoney');
    let qty = document.getElementById('qty');
    let tttMoney = document.querySelector('.payment-total');
    let total = 0

    listCart.forEach((el) => {
        intoMoney = Number(el['price']) * Number(el['amount'])
        total += intoMoney
        window.localStorage.setItem('total', JSON.stringify(total));
    })
    //render cart
    function renderTable(dataList) {
        $(document).ready(() => {
            let str = ''

            let count = 0;
            dataList.forEach((el, index) => {
                count++
                let intoMoney = Number(el['price']) * Number(el['amount'])
                let bodyCart = `
                     <div class="cart-product-item">
                            <img src="${el['img']}" alt="" class="item-img">
                            <div class="item-info">
                                <div class="info-heading">
                                    <div class="heading-title">${el['title']}</div>
                                    <div class="heading-close" onclick="remove('${el['id']}',event)"><img src="//theme.hstatic.net/200000321771/1000699946/14/ic_close.png?v=305"></div>
                                </div>
                                <div class="info-price">${el['price']},000 VND</div>
                                <div class="info-price">${el['size']}</div>
                                <div class="info-total">
                                    <div class="total-amount">
                                        <button class="button-amount button-minus" onclick="clickMinus('${el['title']}','${el['size']}',event)">-</button>
                                        <input type="number" class="input-amout" readonly min="1" value="${el['amount']}" />
                                        <button class="button-amount button-add" onclick="clickAdd('${el['title']}','${el['size']}',event)">+</button>
                                    </div>
                                    <div class="total-money">
                                    ${intoMoney.toLocaleString()},000 VND
                                    </div>
                                </div>
                            </div>
                        </div>
            `

                str += bodyCart
            })
            let money = JSON.parse(window.localStorage.getItem('total'));

            qty.innerHTML = count
            if (count > 0) {
                totalMoney.innerHTML = money.toLocaleString() + ",000 VND";
                $('#renderBody').html(str)
            }
            else {
                totalMoney.innerHTML = "0 VND";
                let emp =` <div class="empty-cart">Chưa có sản phẩm nào trong giỏ hàng</div>`
                $('#renderBody').html(emp);

            }



        })
    }
    renderTable(listCart);
    //render icon cart
    function renderIconCart(dataList) {
        $(document).ready(() => {
            let str = ''
            let total = 0
            let count = 0;

            dataList.forEach((el, index) => {
                count++;
                let intoMoney = Number(el['price']) * Number(el['amount'])
                let bodyCart = `
                          <div class="item-cart-product">
                                        <img src="${el['img']}" class="item-cart-product-img">
                                        <div class="item-cart-info">
                                            <div class="cart-info-item">
                                                <p class="info-item-title">${el['title']}</p>
                                                <div class="info-item-delete">X</div>
                                            </div>
                                            <div class="cart-info-size">${el['size']}</div>
                                            <div class="cart-info-item">
                                                <div class="info-item-amount">${el['amount']}</div>
                                                <div class="info-item-pice">${el['price']},000?</div>
                                            </div>
                                        </div>
                                    </div>
                `
                total += intoMoney
                str += bodyCart
            });

            if (count > 0) {
                tttMoney.innerHTML = total.toLocaleString() + ",000 VND";
                $('.box-item-cart').html(str)
            }
            else {
                let emp = `<div class="box-cart-empty">
                  <svg width="81" height="70" viewBox="0 0 81 70"><g transform="translate(0 2)" stroke-width="4" stroke="#1e2d7d" fill="none" fill-rule="evenodd"><circle stroke-linecap="square" cx="34" cy="60" r="6"></circle><circle stroke-linecap="square" cx="67" cy="60" r="6"></circle><path d="M22.9360352 15h54.8070373l-4.3391876 30H30.3387146L19.6676025 0H.99560547"></path></g></svg>
                 <div>Giỏ hàng của bạn đang trống</div>
                </div>`
                $('.box-item-cart').addClass('box-cart-empty')
                $('.box-item-cart').removeClass('box-item-cart')
                $('.box-cart-empty').html(emp);
            }


        })
    }



    function clickMinus(title, size, e) {
        let totalMoney = 0;
        let cart = JSON.parse(window.localStorage.getItem('cart'));
        cart.forEach((el) => {
            if (el['title'] === title && el['size'] === size) {
                if (el['amount'] > 1) {
                    el['amount'] -= 1;

                }
                else {
                    alert("Số lượng phải trên 1")
                }

            }
            let intoMoney = Number(el['price']) * Number(el['amount']);
            totalMoney += intoMoney;
            window.localStorage.setItem('total', JSON.stringify(totalMoney));
        })


        window.localStorage.setItem('cart', JSON.stringify(cart));
        renderTable(cart);
    }
    function clickAdd(title, size, e) {

        let totalMoney = 0;
        let cart = JSON.parse(window.localStorage.getItem('cart'));
        cart.forEach((el) => {
            if (el['title'] === title && el['size'] === size) {

                const amountNumber = Number(el['amount']);
                el['amount'] = amountNumber + 1;


            }
            let intoMoney = Number(el['price']) * Number(el['amount']);

            totalMoney += intoMoney;

            window.localStorage.setItem('total', JSON.stringify(totalMoney));
        })

        window.localStorage.setItem('cart', JSON.stringify(cart));

        renderTable(cart);
    }
    function remove(id, e) {
        let cart = JSON.parse(window.localStorage.getItem('cart'));
        const cartNew = cart.filter((el) => {
            return el['id'] !== Number(id)
        })
        window.localStorage.setItem('cart', JSON.stringify(cartNew));

        location.reload();
        //render car
        renderTable(cartNew);
        //render cart icon
        renderIconCart(cartNew)
    }



    //giỏ hàng trống sẽ không chuyển hướng qua trang thanh toán được
    $('.button-payment').click(() => {
        const listCart = JSON.parse(window.localStorage.getItem('cart'));
        if (listCart.length > 0) {
            window.location = '/bill';
        }
    })
</script>

@Scripts.Render("~/bundles/calculate")